<html>
	<body>
		<div class="row">
               <div class="col-md-12">
                  <table class="control_time_table" id='tab'>
                     <tr>
                        <th> Time Series </th>
                     </tr>
					 {% for article in items %}
                     <tr class="control" id ='con'>
                        <!-- Dist (km) -->
                        <td><name="Time Series" readonly value=""/> {{
                            article.name }} </td>
                        <!-- Open time (read only, set by JavaScript function -->
                     </tr>
                     {% endfor %}
                  </table>
               </div>
            </div>
			<div>
                    <button id='back'>Back</button>
			</div>
    <form name="Item_1" action="/getLigand" method="POST">
      <label for="exampleFormControlFile2">Choose Time Series</label>
        <select class="colours">
          {% for ts in items %}
            <option value="{{ colour }}" SELECTED>{{ ts.name }}</option>
          {% endfor %}
        </select>
    </form>
            <button id="info">Show info</button>
	</body>
</html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>

document.getElementById("back").onclick = function(back) {
    location.href = window.location.origin
};


<!--$("#info").click(function(){-->
<!--    console.log($('.colours option:selected').text());-->
<!--});-->

$("#info").click(
    function(disp) {
            var target = $('.colours option:selected').text();
            window.location.replace('/info/'+target)
     }
);
</script>
