<!DOCTYPE html>
<html>
  <head>
    <title>Timeseries Database</title>
      <h1>Timeseries Database</h1>
  </head>
  <body>
    <div>
        <button id="lol">Close</button>
<!--        <button id="Submit" onclick="send()">Submit</button>-->
        <button id="submittime">Submit Time Series</button>
        <input type="file" id="file">
        <button id="buckets">Show buckets</button>
<!--    <form method="post" action="/">-->
<!--&lt;!&ndash;        <button onclick="myScript()">Click me</button>&ndash;&gt;-->
<!--&lt;!&ndash;        <button id='insert'>Insert</button>&ndash;&gt;-->
<!--        <input type="submit" value="VALUE1" name="action1"-->
<!--               id = 'insert' onclick="myScript()">/>-->
<!--        <input type="submit" value="VALUE2" name="action2" />-->
<!--    </form>-->
    </div>
    <div>

    </div>
  </body>
</html>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
<!--var myUploadedFile = document.getElementById("myFile").file[0];-->
<!--console.log(myUploadedFile);-->
<!--    const name = document.querySelector(".name");-->
<!--       function closed () {-->
<!--        window.close();-->
<!--     };-->
<!--     function myScript () {-->
<!--         $.post( "/postmethod", {-->
<!--        javascript_data: 12-->
<!--        });-->
<!--    };-->
var SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
var DISPLAY_URL = SCRIPT_ROOT + "/buckets";
console.log(DISPLAY_URL)

$("#lol").click(function(){
    $.post( "/postmethod", {data: 12}, function(){window.close()});
});


<!--            window.addEventListener("unload", (event) => {-->
<!--        console.log("hiihihihi");-->
<!--      });-->

<!--                  $("#data").click(function(){-->
<!--                    const formData = new FormData();-->
<!--                     const files = document.getElementById("myFile").files[0];-->
<!--                     formData.append("myUploadedFile", files.files[0]);-->
<!--                     const requestOptions = {-->
<!--                        headers: {-->
<!--                            "Content-Type": files.files[0].contentType, // This way, the Content-Type value in the header will always match the content type of the file-->
<!--                        },-->
<!--                        mode: "no-cors",-->
<!--                        method: "POST",-->
<!--                        files: files.files[0],-->
<!--                        body: formData,-->
<!--                    };-->
<!--            console.log(myUploadedFile);-->
<!--            $.post( "/data", {thing: requestOptions});-->
<!--            });-->



function send() {
<!--    $.post( "/upload", {thing: myUploadedFile});-->
    console.log("HI")
    const formData = new FormData();
    const files = document.getElementById("file");
    formData.append("file", files.files[0]);
    const requestOptions = {
        headers: {
            "Content-Type": files.files[0].contentType, // This way, the Content-Type value in the header will always match the content type of the file
        },
        mode: "no-cors",
        method: "POST",
        files: files.files[0],
        body: formData,
    };
    console.log(requestOptions);

    fetch("http://localhost:5000/upload", requestOptions).then(
        (response) => {
            console.log(response.data);
        }
    );
}

function send2() {
    console.log("hi");
    $.post( "/upload", {thing: 2});

};

<!--$("#lol").click(function(){-->
<!--    $.post( "/postmethod", {data: 12}, function(){window.close()});-->
<!--});-->

<!--$("#buckets").click(function() {-->
<!--        window.location.replace(http://localhost:5000/buckets);-->
<!--});-->


$("#buckets").click(
    function(disp) {
            window.location.replace('/buckets')
     }
)

$("#submittime").click(
    function(disp) {
            window.location.replace('/submit')
     }
)



</script>